body{
  background-color: #fbfbe2;
  /* pointer-events: none; */
}
body, html{
  font-family: "Noto Sans";
  font-weight: normal;
  font-style: normal;
  }   
h1{
font-family: "Laila";
font-weight: 600;
font-style: normal;
}
h2, h3, h4{
font-family: "Fira Sans";
font-weight: 200;
font-style: oblique;
}

  .titulo-ingresos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  
  .container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 95%;
    padding: 10px;
    border: 1px solid #cecfff;
    border-radius: 3px;
    margin: 1%;
  }
  .inputs-ingresos{
    width: 95%;
    padding: 10px;
    border: 1px solid #cecfff;
    border-radius: 3px;
    margin: 1%;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .container_botton_volver{
    width: 100%;
  }
  .volver_link{
    display: inline-block;
    background-color: #0ed46b;
    border-color: #0ed46b;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    width: 90px;
    margin: 10px;
  }
  .volver_link:hover{
    background-color: #0d8042;
    cursor: pointer;
  }
  
